#app {

}

.game {
  text-align: center;
}

.row {
  clear: both;
}

.current-tile {
  background-color: #0000FF;
  border: 4px solid #0000FF;
  bottom: 5px;
  height: 150px;
  position: absolute;
  right: 5px;
  width: 150px;
}

.draw-button {
  background-color: #00FF00;
  bottom: 10px;
  font-size: 30px;
  padding: 10px;
  position: absolute;
  right: 10px;
}

.join {
  background: #AAA;
  bottom: 10px;
  padding: 10px;
  position: absolute;
  right: 10px;
}

.tile {
  display: inline-block;
  height: 100px;
  margin: 1px;
  overflow: hidden;
  position: relative;
  width: 100px;
  text-align: center;
}

.tile.played {
  background-color: #0000FF;
}

.tile.active {
  background-color: #AAA;
}

.tile.playable-hover {
  background-color: #00FF00;
}

.tile.hover {
  background-color: #FF0000;
}

.road-top,
.road-bottom,
.road-right,
.road-left {
  background: black;
  position: absolute;
}

.road-top {
  height: 58px;
  left: 42px;
  top: 0;
  width: 16px;
}

.road-bottom {
  height: 58px;
  left: 42px;
  top: 42px;
  width: 16px;
}

.road-right {
  height: 16px;
  right: 0;
  top: 42px;
  width: 58px;
}

.road-left {
  height: 16px;
  left: 0;
  top: 42px;
  width: 58px;
}

.road-top-hover,
.road-bottom-hover,
.road-right-hover,
.road-left-hover {
  background: red;
}

.city-top,
.city-right,
.city-bottom,
.city-left {
  background: gray;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  width: 100px;
}

.city-top-hover,
.city-bottom-hover,
.city-right-hover,
.city-left-hover {
  background: red;
}

.city-top {
  left: 0;
  top: -50px;
}

.city-right {
  right: -50px;
  top: 0;
}

.city-bottom {
  left: 0;
  bottom: -50px;
}

.city-left {
  left: -50px;
  top: 0;
}

.meeple {
  background: red;
  border-radius: 26px;
  height: 26px;
  position: absolute;
  width: 26px;
  z-index: 100;
}

.meeple-top {
  left: 37px;
  top: 5px;
}

.meeple-right {
  right: 5px;
  top: 37px;
}

.meeple-bottom {
  bottom: 5px;
  left: 37px;
}

.meeple-left {
  left: 5px;
  top: 37px;
}

.scoreboard {
  position: absolute;
  left: 5px;
  top: 5px;
}

.player-score {
  display: flex;
  flex-direction: row;
}

.player-score .color {
  background: red;
  border-radius: 15px;
  height: 15px;
  width: 15px;
}
